:root {
	--scale: 100px;
	--circle-scale: 0.9;

	--height: var(--scale);
	--width: calc(var(--scale) * 2);
}

.lb-switch {
	width: var(--width);
	height: var(--height);

	border-radius: 999999px;

	background-color: #e0e0e0;

	display: flex;
	align-items: center;
}

.lb-switch.on {
	justify-content: end;
}

.lb-switch.off {
	justify-content: start;
}

.lb-switch > .lb-switch-circle {
	position: relative;
	width: calc(var(--height) * var(--circle-scale));
	height: calc(var(--height) * var(--circle-scale));

	margin-left: calc(var(--height) * (1 - var(--circle-scale)));
	margin-right: calc(var(--height) * (1 - var(--circle-scale)));

	border-radius: 999999px;

	background-color: #000;
}

/* animations */
.lb-switch.on > .lb-switch-circle {
	animation: 0.25s ease-in 1 normal lb-switch-turn-on;
}

.lb-switch.off > .lb-switch-circle {
	animation: 0.25s ease-in 1 normal lb-switch-turn-off;
}

@keyframes lb-switch-turn-on {
	from {
		right: calc(var(--height) * var(--circle-scale));
	}

	to {
		right: 0;
	}
}

@keyframes lb-switch-turn-off {
	from {
		right: calc(-1 * var(--height) * var(--circle-scale));
	}

	to {
		right: 0;
	}
}
